@{
    ViewBag.Title = "Analytics";
}

<!DOCTYPE html>
<html>
<head>
    <title>Embed API Demo</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!--tracking code-->
    <script>
        //(function (i, s, o, g, r, a, m) {
        //    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        //        (i[r].q = i[r].q || []).push(arguments)
        //    }, i[r].l = 1 * new Date(); a = s.createElement(o),
        //    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        //})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        //ga('create', 'UA-65273366-1', 'auto');
        //ga('send', 'pageview');
    </script>
</head>
<body>

    <!-- Step 1: Create the containing elements. -->
    <div class="container">
        <div class="col-md-12" id="active-users-container"></div>

        <div class="col-md-3">Users today : <span id="today"></span> </div>
        <div class="col-md-3">Users in last 7 days : <span id="7days"></span> </div>
        <div class="col-md-3">Users in last 30 days : <span id="30days"></span> </div>
        <div class="col-md-3">
            <a data-toggle="modal" data-target="#userModal">Chi tiết</a>
        </div>

        <div class="col-md-3">Most viewed in last 30 days : </div>
        <div class="col-md-3"> <span id="pagepath"></span> </div>
        <div class="col-md-3">Viewed : <span id="pageviews"></span> </div>
        <div class="col-md-3">
            <a data-toggle="modal" data-target="#pageviewsModal">Chi tiết</a>
        </div>

        <div class="col-md-3">Transactions : <span id="transactions"></span> </div>
        <div class="col-md-3">Revenue : <span id="revenue"></span> VND </div>
    </div>

    <div class="modal fade" id="userModal" role="dialog">
        <div class="modal-dialog modal-lg" style="width:910px;">
            <div class="modal-content" style="width:910px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="padding: 0px;">
                    <div class="container" style="padding:1px;width:inherit">
                        <div class="col-md-6" style="padding:0px;">
                            <span id="numberuser"></span>
                        </div>
                        <div class="col-md-6" style="padding: 3px; max-height: 400px; overflow-y: scroll;">
                            <span id="username"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pageviewsModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="max-height: 400px; overflow-y: scroll;">
                    <div class="container" style="width:inherit">
                        <span id="pageviewstable"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*Users in last 30 days : <span id="30days"></span> <br />
        Users in last 7 days : <span id="7days"></span> <br />
        Users today : <span id="today"></span> <br />
        <span id="active-users-container"></span>*@
    @*Most viewed in last 30 days : <span id="pagepath"></span> --- <span id="pageviews"></span> views.
        <section id="money"></section>
        <section id="pageviewstable"></section>
        <section id="view-selector"></section>
        <section id="timeline"></section>*@
    <section id="auth-button"></section>

    <!-- Step 2: Load the library. -->

    <script>
        (function (w, d, s, g, js, fjs) {
            g = w.gapi || (w.gapi = {}); g.analytics = { q: [], ready: function (cb) { this.q.push(cb) } };
            js = d.createElement(s); fjs = d.getElementsByTagName(s)[0];
            js.src = 'https://apis.google.com/js/platform.js';
            fjs.parentNode.insertBefore(js, fjs); js.onload = function () { g.load('analytics') };
        }(window, document, 'script'));
    </script>

    <script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/active-users.js"></script>

    <script>
        gapi.analytics.ready(function () {

            // Step 3: Authorize the user.

            var CLIENT_ID = '668445380644-9vud4di1lm4gdonocgtskdpvkqtet74l.apps.googleusercontent.com';

            gapi.analytics.auth.authorize({
                container: 'auth-button',
                clientid: CLIENT_ID,
            });

            // Step 4: Create the view selector.

            var viewSelector = new gapi.analytics.ViewSelector({
                container: 'view-selector'
            });

            /**
            * Create a new ActiveUsers instance to be rendered inside of an
            * element with the id "active-users-container" and poll for changes every
            * five seconds.
            */
            var activeUsers = new gapi.analytics.ext.ActiveUsers({
                container: 'active-users-container',
                pollingInterval: 5
            });
            //Add CSS animation to visually show the when users come and go.
            activeUsers.once('success', function () {
                var element = this.container.firstChild;
                var timeout;

                this.on('change', function (data) {
                    var element = this.container.firstChild;
                    var animationClass = data.delta > 0 ? 'is-increasing' : 'is-decreasing';
                    element.className += (' ' + animationClass);

                    clearTimeout(timeout);
                    timeout = setTimeout(function () {
                        element.className =
                            element.className.replace(/ is-(increasing|decreasing)/g, '');
                    }, 3000);
                });
            });
            activeUsers.set({ 'ids': 'ga:106032405' }).execute();

            // Step 5: Create the timeline chart.
            //get pageviews data
            var pageviews = new gapi.analytics.report.Data({
                query: {
                    'ids': 'ga:106032405',
                    'dimensions': 'ga:pagePath',
                    'metrics': 'ga:pageviews',
                    'start-date': '30daysAgo',
                    'end-date': 'today',
                    filters: 'ga:pagePath!=/'
                }
            });
            pageviews.on('success', function (result) {
                var ary = result.rows;
                var leng = ary.length;
                var max = 0;
                for (i = 1; i < leng; i++) {
                    if (Number(ary[max][1]) < Number(ary[i][1])) {
                        max = i;
                    }
                }
                $("#pagepath").text(ary[max][0]);
                $("#pageviews").text(ary[max][1]);
            }).execute();

            //draw pageviews table
            var page = new gapi.analytics.googleCharts.DataChart({
                reportType: 'ga',
                query: {
                    'ids': 'ga:106032405',
                    'dimensions': 'ga:pagePath',
                    'metrics': 'ga:pageviews',
                    'start-date': '30daysAgo',
                    'end-date': 'today',
                },
                chart: {
                    type: 'TABLE',
                    container: 'pageviewstable'
                }
            });
            //page.on('success', function (response) {
            //    response.data;
            //});
            page.execute();

            //get users
            var users = new gapi.analytics.report.Data({
                query: {
                    'ids': 'ga:106032405',
                    'dimensions': 'ga:date',
                    'metrics': 'ga:users',
                    'start-date': '30daysAgo',
                    'end-date': 'today',
                }
            });
            users.on('success', function (result) {
                var ary = result.rows;
                var _30days = 0;
                var _7days = 0;
                var _today = 0;
                for (i = 0; i < 31; i++) {
                    _30days += Number(ary[i][1]); // i = date index, 1 = get number of users
                }
                for (i = 23; i < 31; i++) {
                    _7days += Number(ary[i][1]);
                }
                _today = ary[30][1];
                $("#30days").text(_30days);
                $("#7days").text(_7days);
                $("#today").text(_today);
            }).execute();

            //draw users chart
            var timeline = new gapi.analytics.googleCharts.DataChart({
                reportType: 'ga',
                query: {
                    'ids': 'ga:106032405',
                    'dimensions': 'ga:date',
                    'metrics': 'ga:users',
                    'start-date': '30daysAgo',
                    'end-date': 'today',
                },
                chart: {
                    type: 'LINE',
                    //container: 'timeline'
                    container: 'numberuser'
                }
            });
            timeline.execute();

            //draw username and date table
            var usernametable = new gapi.analytics.googleCharts.DataChart({
                reportType: 'ga',
                query: {
                    'ids': 'ga:106032405',
                    'metrics': 'ga:sessions',
                    'dimensions': 'ga:dimension2,ga:date',
                    'start-date': '7daysAgo',
                    'end-date': 'today',
                },
                chart: {
                    type: 'TABLE',
                    container: 'username'
                }
            });
            usernametable.execute();

            //get transaction data
            var money = new gapi.analytics.report.Data({
                reportType: 'ga',
                query: {
                    'ids': 'ga:106032405',
                    'metrics': 'ga:transactions,ga:transactionRevenue',
                    'start-date': '30daysAgo',
                    'end-date': 'today',
                }
            });
            money.on('success', function (result) {
                var ary = result.rows;
                $("#transactions").text(ary[0][0]);
                $("#revenue").text(ary[0][1].slice(0, -2));
            }).execute();

            // Step 6: Hook up the components to work together.

            //gapi.analytics.auth.on('success', function (response) {
            //viewSelector.execute();
            //});

        });
    </script>

</body>
</html>
